*{
	box-sizing: border-box;
}
body{
	font-family: Verdana, sans-serif;
	padding: 20px 30px;
}
.row{
	width: 100%;
}

.col-lg-4 article, .col-lg-8 article,.col-lg-12 article{
	padding: 5px 8px;
}
.head1, .head2, .head3, h1{
	font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

h1{
	text-align: center;
	font-size: 175%;
	padding-top: 20px;
	padding-bottom: 40px;
}

section > div{
	border-width: 3px;
	border-style: solid;
	border-color: black;
	margin-bottom: 20px;
	background: #076590 ;
	color: #F8F8F8 ;
	margin: 10px;

}
article{
	clear: both;
}
.head1, .head2, .head3{
	color: black;
	width: 100px;
	text-align: center;
	border: 3px solid black;
	font-size: 125%;
	float: right;
}
.head1{
	background: #E5B6BA;
}
.head2{
	background: #E886A3;
}
.head3{
	background: #EA4A7A;
}

@media (min-width:992px){
	.col-lg-4,.col-lg-8,.col-lg-12{
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.col-md-6{
		width: 50%;
		float: left;
	}
	.col-md-12{
		width: 100%;
		float: left;
	}
}

@media(max-width:767px){
	.col-sm-12 {
		width: 100%;
		clear: both;
	}
}

